@charset "utf-8";


header{
    height: 120px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
    border-bottom: 1px solid #c8c8c8;
    background-color: #fff;
}
header .inner{
    width: 1100px;
    height: 120px;
    margin: 0px auto;
    position: relative;
}
header .inner h1{padding-top:20px ;}
/*상단서브메뉴 서식 */
.sub_mnu{
    position: absolute;
    right: 0px;
    top: 10px;
    display: flex;
}
.sub_mnu>ul{
    display: flex;
}
.sub_mnu>ul>li{
    position: relative;
}
.sub_mnu>ul>li::after{
    content: "";        
    width: 1px;height: 12px;
    background-color: #c8c8c8;
    position: absolute;
    top: 12px;
    bottom: 0px;
}
.sub_mnu>ul>li:first-child::after{
    display: none;
}
.sub_mnu>ul>li>a{
    padding: 11px 16px;
    display: block;
    font-size: 13px;
}
.search{
    position: relative;
    height: 34px;
}
.search input{
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background: #fff;
    color: #777;
    transition:width 0.4s;
}
.search input:focus{
    width: 190px;
    border-color: #ea9926;
}
.search input:focus +label >.material-icons{
    opacity: 0;
}
.search .material-icons{
    height: 24px;
    transform: translate(-34px,11px);
    font-size: 26px;
    transition: 0.4s;
    cursor: pointer;
}
/* 메인메뉴 서식 */
.gnb{
    position: absolute;
    bottom: 0px; right: 0px;

}
.gnb>ul{
    display: flex;
}
.gnb>ul>li{}
.gnb>ul>li>a{
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 20px 34px 20px;
    display: block;
}
.gnb>ul>li>a:hover{
    display: block;
    color: #ea9926;
    background-color: #2c2a29;
    border-radius:6px 6px 0 0;
}
.gnb >ul>li:hover .item_content{
    display: block;
}
/* 서브메뉴 박스 */
.item_content{
    width: 100%;
    position: fixed;
    left: 0px;
    background-color: #2c2a29;
    display: none;
}

.sub_wrap{
    width: 1100px;
    margin:0px auto;
    position: relative;
    display: flex;
}
.sub{
    padding: 20px 0px;
}
.sub dt, .sub dd{
    width: 220px;
}
.sub dt{
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;

}
.sub dd{}
.sub dd a{
    line-height: 180%;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}
.sub dd a:hover{
    color: #ea9926;
}
.content_texture{
    background-image: url(../images/main_menu_pattern.jpg);
    padding: 30px 0px 0px;
    font-size: 12px;
}
.content_texture h4{
    color: #999;
    font-weight: 900;
}
.content_texture p{
    color: #ea9926;
    margin: 4px 0 14px;
}
main{}
main>section{
    background-color: #999;
}

footer{
    height: 470px;
}